<h2>Contacto</h2>
<p>Por favor ingresa la información del siguiente formulario para contactarme con migo. Tambien puedes realizarlo a traves de mi correo electronico o celular.</p>

<form class="form-contacto">

  <mat-form-field>
    <input matInput placeholder="Nombre" >
  </mat-form-field>

  <mat-form-field>
    <input type="email" matInput placeholder="Correo Electronico">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Escribe tu mensaje..." rows="4" ></textarea>
  </mat-form-field>

  <div class="content-boton-enviar">
      <button mat-button color="primary"  mat-stroked-button  >Enviar</button>
  </div>

</form>
