<div class="router-content top-presentation">

    <h1>Full-stack Developer </h1>

    <img src="assets/images/developer-1.png" alt="">
</div>
<div class="router-content " >

  <section class="secction-quien-soy" >
    <h2>¿Quien soy?</h2>
    <p>
        Bienvenido, mi nombre es Jose Luis Orozco. Soy desarrollador desde hace más de 10 años y músico aficionado. La tecnología y la música son mis grandes pasiones, disfruto de ellas y me esfuerzo cada dia por aprender más, es parte de mi rutina diaria.
    </p>
    <p>
      Empecé a programar en el 2003, desde entonces he trabajado para diferentes empresas, proyectos personales y de emprendimiento. En ese camino he tenido la oportunidad de aprender y trabajar con diversas tecnologías, en mi primer contacto laboral inicie desarrollando con Visual Basic 6, de ahí en adelante he pasado por PHP, Asp, Java, Asp .NET, JQuery, ExtJS, pero en los últimos años he tenido una gran inclinación por todas las tecnologías relacionadas con JavaScript y me he enfocado en estas, he aprendido, trabajado y disfrutado de JavaScript (Amo JavaScript), utilizando AngularJS, Node.js, Ionic y más recientemente Vultr, Angular y TypeScript. 
    </p>
    <p>
      Como dije antes, me apasiona la tecnología y aunque la programación es mi mayor fuerte, también hay otras que me gustan y uso frecuentemente. Inicialmente puedo decir que soy gran fanatico de Linux y OSX, creo que no hay mejores sistemas operativos para desarrollar, en cuanto a Windows ???.. bueno, creo que Microsoft realiza grandes aportes en tecnología aparte de Windows; .NET, Azure, TypeScript, Visual Studio Code, Xbox, entre otras, son una muestra de esto. También hay más tecnologías que me gustan y me acompañan en diferentes proyectos y mi vida diaria, te invito a que conozcas un poco mas de mis experiencias y aprendizajes visitando las diferentes secciones de este portal.  
    </p>   
  
  </section>

</div>
<section class="secction-contacto" id="secction-contacto" >
    <app-contact></app-contact>
</section>

