#particles-js{ 
    position:absolute; 
    width: 100%; 
    height: 100%; 
    background-color: #2ecc71; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%; 
}