
<mat-sidenav-container
   (backdropClick)="sidenav.close()" class="sidenav-container" >

  <mat-sidenav #sidenav (keydown.escape)="sidenav.close()" disableClose class="sidenav" >

    <mat-toolbar color="primary" >Menu</mat-toolbar>
    <mat-nav-list>
        <a mat-list-item routerLink="/" routerLinkActive="active"  >Inicio</a>
        <a mat-list-item routerLink="/studies" routerLinkActive="active"  >Estudios</a>
        <a mat-list-item routerLink="/experience-projects" routerLinkActive="active"  >Experiencia y Proyectos</a>
        <a mat-list-item routerLink="/tecnology" routerLinkActive="active" >Tecnologias</a>
    </mat-nav-list>


  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar>

      <button
        type="button"
        color="primary"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="sidenav.toggle()"
        class="button-sidenav-toogle"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <button mat-button color="primary" class="boton-titulo" (click)="linkA('',0)" >
        <i class="material-icons logo-toolbar">
          developer_mode
        </i>
        <span class="title-toolbar" > Jose Luis Orozco</span>  
      </button>
      <span class="toolbar-spacer"></span>
    <!--   <span><a routerLink="/" routerLinkActive="active">Inicio</a></span> -->

      <span class="top-menu">
          <button mat-button color="primary" [ngClass]="{ 'boton-activo': botonActivo[0] }" class="butoon-top" (click)="linkA('',0)" >Inicio</button>
          <button mat-button color="primary" [ngClass]="{ 'boton-activo': botonActivo[1] }" class="butoon-top" (click)="linkA('studies',1)"  >Estudios</button>
          <button mat-button color="primary" [ngClass]="{ 'boton-activo': botonActivo[2] }" class="butoon-top" (click)="linkA('experience-projects',2)" >Experiencia y Proyectos</button>
          <button mat-button color="primary" [ngClass]="{ 'boton-activo': botonActivo[3] }" class="butoon-top" (click)="linkA('tecnology',3)" >Tecnologias</button>
      </span>

      <button mat-button color="primary" [ngClass]="{ 'boton-activo': botonActivo[4] }" class="butoon-top" mat-stroked-button (click)="seccionA('secction-contacto', 4)" >Contacto</button>
    </mat-toolbar>

    <div [@animacionPaginas]="o.isActivated ? o.activatedRoute : ''">
      <router-outlet #o="outlet"></router-outlet>
    </div>

    <footer>
      <p>
          Hecho con 
          <i class="material-icons">
          favorite
          </i> por Jose Luis Orozco
      </p>
      <p>
        Desarrollado con Angular 6 y Firebase
      </p>
    </footer>


  </mat-sidenav-content>
</mat-sidenav-container>

