@import '~@angular/material/theming';

@include mat-core();

/**
 * Estilos generales
 * Autor: Jose Luis Orozco Mejia
 * Email: handark@gmail.com 
**/

/* Colores chepe */
$chepe-primary-50: #D3FFC9;
$chepe-primary-100: #A1FBAE;
$chepe-primary-200: #92F77B;
$chepe-primary-300: #85ED6D;
$chepe-primary-400: #54E56C;
$chepe-primary-500: #2ecc71;
$chepe-primary-600: #4CC164;
$chepe-primary-700: #4CAE64;
$chepe-primary-800: #4E9C64;
$chepe-primary-900: #4E8464;
$chepe-primary-A100: #82b1ff;
$chepe-primary-A200: #448aff;
$chepe-primary-A400: #2979ff;
$chepe-primary-A700: #2962ff;

$small: 540px;
$medium: 795px;
$large: 960px;


$dark-color: #4f6384;

$mat-chepe: (
  50: $chepe-primary-50,
  100: $chepe-primary-100,
  200: $chepe-primary-200,
  300: $chepe-primary-300,
  400: $chepe-primary-400,
  500: $chepe-primary-500,
  600: $chepe-primary-600,
  700: $chepe-primary-700,
  800: $chepe-primary-800,
  900: $chepe-primary-900,
  A100: $chepe-primary-A100,
  A200: $chepe-primary-A200,
  A400: $chepe-primary-A400,
  A700: $chepe-primary-A700,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

$candy-app-primary: mat-palette($mat-chepe);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);

$candy-app-warn:    mat-palette($mat-red);

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);


@include angular-material-theme($candy-app-theme);

body {
    font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    margin: 0;
}


.sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  

// Dispositivos pequeños
@mixin small {
    @media (min-width: #{$small}) {
        @content;
    }
 }
 
 // Dispositivos medianos
 @mixin medium {
    @media (min-width: #{$medium}) {
        @content;
    }
 }
 
 // Dispositivos largos
 @mixin large {
    @media (min-width: #{$large}) {
        @content;
    }
 }


/* TopBar */
.mat-toolbar {
    color: $chepe-primary-500;

    .button-sidenav-toogle {
        display: inline-block;
        @include medium {
            display: none;
        }
    }

    .top-menu {
        display: none;
        @include medium {
            display: flex;
        }
    }
}



.mat-toolbar-row, .mat-toolbar-single-row {
    height: 64px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.07);
    background-color: #212121;
/*     position: fixed;
    top: 0;
    left: 0;
    right: 0; */

}

.title-toolbar {
    padding-left: 5px;
    color: #fff;
}

.logo-toolbar {
    font-size: 30px;
}

.toolbar-spacer {
    flex: 1 1 auto;
  }


.butoon-top {
    color: #b0ddce !important;
}

.router-content {
  padding: 10px 10px;
  @include medium {
    padding: 20px 40px;
  }   
}

.mat-toolbar-row, .mat-toolbar-single-row {

    padding: 0 30px !important;

}

.top-presentation {
    background-color: $chepe-primary-500;
    color: #fff;
    text-align: center;
    padding-top: 20px;


    p {
        font-size: 21px;
        font-weight: 200;
    }

    img {
        width: 90%;
        @include medium {
            max-width: 600px;
        }
    }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    color: #fff;
}

h1 {
    transform: translateY(0) scale(1);
    opacity: 1;
    transition: transform 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s, opacity 1.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0.05s;
}

.secction-quien-soy {
    font-weight: 100;
}

.secction-contacto {

    @include medium {
        padding: 10px 40px;
    }

    font-weight: 100;
    padding: 10px 10px;
    background: #212121;
    text-align: center;
    h2 {
        color: #fff;
        font-weight: 400;
    }

    p {
        color: #B0DDCF;
    }
}

h2 {
    color: #212121;
    position: relative;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 0px;
    padding-bottom: 1rem;
    line-height: 1;
    font-size: 1.7rem;
    font-weight: 900;
    text-align: center;
}

h2:before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    content: "";
    width: 100px;
    height: 1px;
    background-color: $chepe-primary-800;
}


footer {
    padding: 10px;
 /*    border-top: 1px solid $chepe-primary-500; */
    text-align: center;
    font-weight: 400 !important;
    font-size: .9em !important;
    background-color: #edfff4;
    i {
        color: $chepe-primary-500;
        font-size: .9em !important;
    }
}

.boton-activo {
    background-color: #24362B;
}

.boton-titulo {
    font-size: 17px !important;
}

.form-contacto {
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 10px;
    @include medium {
        padding: 0 20px 0 20px;
    }
}

.form-contacto > * {
    width: 100%;
}

.form-contacto > .mat-form-field-appearance-legacy .mat-form-field-label,{
    color: #edfff4 !important;
    font-weight: 100;
}

.form-contacto > .mat-form-field-appearance-legacy .mat-form-field-underline {
    color: #edfff4 !important;
    background-color: #edfff4 !important;
}

.content-boton-enviar {
    margin-bottom: 20px;
}

.titulo-vistas {
    background-color: $chepe-primary-500;
    color: #fff;
    text-align: center;
    padding: 20px 0 15px 0;  

    h1 {
        font-size: 1.7em;
        font-weight: 100;
        padding: 0;
        margin: 0;
    }
}